.search-input {
    background-image: url('/icons/search.png');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 18px 18px; 
  }
  
  .search-input::placeholder {
    color: white;
  }